<%- include('../includes/head')%> <%- include('../includes/nav')%>
<div class="container" id="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Cadastrar novo cliente</h1>
      <p class="text-center">Insira os dados desejados e clique em 'Salvar'</p>

      <%- include('../includes/messages')%>

      <ul class="nav nav-tabs" role="tablist" onclick="resetAdressForm()">
        <li class="nav-item" role="presentation">
          <a
            id="tab_cpf"
            href="#tabPF"
            class="nav-link active"
            id="linkPF"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="tabPF"
            >Cadastro Pessoa Física</a
          >
        </li>
        <li class="nav-item" role="presentation" onclick="resetAdressForm()">
          <a
            id="tab_cnpj"
            href="#tabPJ"
            class="nav-link"
            id="linkPJ"
            data-bs-toggle="tab"
            role="tab"
            aria-controls="tabPJ"
            >Cadastro Pessoa Jurídica</a
          >
        </li>
      </ul>

      <div class="tab-content" id="meusConteudos">
        <div
          class="tab-pane fade show active"
          id="tabPF"
          role="tabpanel"
          aria-labelledby="linkPF"
        >
          <form onsubmit="cadastrar()" class="my-5">
            <div class="form-row">
              <div class="form-group my-3">
                <label>CPF:</label>
                <input
                  type="text"
                  class="form-control"
                  name="cpf"
                  data-mask-for-cpf
                />
              </div>
              <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" name="nome" />
              </div>
            </div>
            <div class="form-group my-3">
              <label>Telefone</label>
              <input
                type="tel"
                class="form-control"
                name="telefone_cpf"
                data-mask-for-telefone
              />
            </div>
            <div class="form-group my-3">
              <label>Email</label>
              <input type="email" class="form-control" name="email_cpf" />
            </div>

            <div class="form-group my-3" id="enderecos_salvos_cpf"></div>

            <div class="form-group my-3" id="div_enderecos"></div>

            <div class="form-group my-3" id="form_adress_cpf">
              <button
                type="button"
                class="btn btn-primary my-3"
                onclick="add_adress()"
              >
                Adicionar Endereço
              </button>
            </div>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary my-3">Salvar</button>
              <a class="btn btn-primary my-3" href="/cliente/home" role="button"
                >Voltar</a
              >
            </div>
          </form>
        </div>
      </div>
      <div class="tab-content" id="meusConteudos">
        <div
          class="tab-pane fade"
          id="tabPJ"
          role="tabpanel"
          aria-labelledby="linkPJ"
        >
          <form onsubmit="cadastrar()" class="my-5">
            <div class="form-row">
              <div class="form-group my-3">
                <label>CNPJ:</label>
                <input
                  type="text"
                  class="form-control"
                  name="cnpj"
                  data-mask-for-cnpj
                />
              </div>
              <div class="form-group">
                <label>Nome Fantasia:</label>
                <input type="text" class="form-control" name="nomeFantasia" />
              </div>
            </div>
            <div class="form-group my-3">
              <label>Razão Social</label>
              <input type="text" class="form-control" name="razaoSocial" />
            </div>
            <div class="form-group my-3">
              <label>Email</label>
              <input type="email" class="form-control" name="email_cnpj" />
            </div>
            <div class="form-group my-3">
              <label>Telefone</label>
              <input
                type="tel"
                class="form-control"
                name="telefone_cnpj"
                data-mask-for-telefone
              />
            </div>

            <div class="form-group my-3" id="enderecos_salvos_cnpj"></div>

            <div class="form-group my-3" id="div_enderecosPJ"></div>

            <div class="form-group my-3" id="form_adress_cpf">
              <button
                type="button"
                class="btn btn-primary my-3"
                onclick="add_adress()"
              >
                Adicionar Endereço
              </button>
            </div>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary my-3">Salvar</button>
              <a class="btn btn-primary my-3" href="/cliente/home" role="button"
                >Voltar</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script>
    let index = 0;
    let adress = [];

    function add_adress() {
      if (!document.getElementById(`adress_${index}`)) {
        const form = `
            <div>
            <div class="mt-4 pt-4" style="display: flex;justify-content: center;align-items: center;">
              <h3>Endereço</h3>
            </div>
            <div id="loading" class="d-none" style="display: flex;justify-content: center;align-items: center;">
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>Loading...</span>
              </button>
            </div>
        <div class="container border"  id="adress_${index}">
          <form class="pt-5">
            <p class="msg my-5"></p>
            <div class="form-outline mb-4">
              <label class="form-label pt-2"><span >CEP: *</span></label>
              <input required type="text" class="form-control" id="cep_${index}" onblur="buscaCEP()" onkeyup="buscaCEP()" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label">Rua: *</label>
              <input required type="text" class="form-control" id="rua_${index}" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label">Numero: *</label>
              <input required type="number" class="form-control" id="numero_${index}" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label">Complemento:</label>
              <input type="text" class="form-control" id="complemento_${index}" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label">Bairro: *</label>
              <input required type="text" class="form-control" id="bairro_${index}" />
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Cidade: *</label>
                  <input required type="text" class="form-control" id="cidade_${index}" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label">Estado: *</label>
                  <input required type="text" class="form-control" id="estado_${index}" />
                </div>
              </div>
            </div>

            <button type="button" onclick="salvarEndereco()" id="submit-button" class="btn btn-primary btn-block mb-4">
              Salvar
            </button>
          </form>
        </div>`;

        if (tabCpfIsActive()) {
          document.getElementById("div_enderecos").innerHTML += form;
        } else {
          document.getElementById("div_enderecosPJ").innerHTML += form;
        }
      }
    }

    function salvarEndereco() {
      event.preventDefault();

      const cep = document.getElementById(`cep_${index}`).value;
      const rua = document.getElementById(`rua_${index}`).value;
      const numero = document.getElementById(`numero_${index}`).value;
      const complemento = document.getElementById(`complemento_${index}`).value;
      const bairro = document.getElementById(`bairro_${index}`).value;
      const cidade = document.getElementById(`cidade_${index}`).value;
      const estado = document.getElementById(`estado_${index}`).value;

      const errorMsg = document.querySelector(".msg");

      if (
        cep === "" ||
        rua === "" ||
        numero === "" ||
        bairro === "" ||
        cidade === "" ||
        estado === ""
      ) {
        errorMsg.textContent = "Preencha os campos obrigatorios *";
        errorMsg.classList = "text-danger mt-4 badge ";

        if (cep === "")
          document.getElementById(`cep_${index}`).classList =
            "form-control border border-danger";
        if (rua === "")
          document.getElementById(`rua_${index}`).classList =
            "form-control border border-danger";
        if (numero === "")
          document.getElementById(`numero_${index}`).classList =
            "form-control border border-danger";
        if (bairro === "")
          document.getElementById(`bairro_${index}`).classList =
            "form-control border border-danger";
        if (cidade === "")
          document.getElementById(`cidade_${index}`).classList =
            "form-control border border-danger";
        if (estado === "")
          document.getElementById(`estado_${index}`).classList =
            "form-control border border-danger";

        return;
      }

      adress.push({
        index,
        cep,
        rua,
        numero,
        complemento,
        bairro,
        cidade,
        estado,
      });

      let card = `
          <div class="card text-bg-secondary mt-3" id="endereco_cadastrado_${index}">
            <div class="card-header">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-dark bi bi-signpost-split" viewBox="0 0 16 16">
                <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
              </svg>
              <div class="text-center text-dark" style="display: contents;">
                Endereço ${index + 1}
              </div>
              <div class="text-right float-end">
                <button type="button" class="btn btn-close" onclick="removerEndereco(${index})" ></button>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text  text-start text-dark">${cep}, ${bairro}</p>
              <p class="card-text  text-start text-dark">${rua}, ${numero}</p>
              <p class="card-text  text-start text-dark">${complemento}</p>
              <p class="card-text  text-start text-dark">${cidade} -  ${estado}</p>
            </div>
          </div>
          `;

      index++;
      if (tabCpfIsActive()) {
        document.getElementById("enderecos_salvos_cpf").innerHTML += card;
      } else {
        document.getElementById("enderecos_salvos_cnpj").innerHTML += card;
      }

      document.getElementById("div_enderecos").innerHTML = "";
      document.getElementById("div_enderecosPJ").innerHTML = "";
    }

    function removerEndereco(index_para_remover) {
      document
        .getElementById(`endereco_cadastrado_${index_para_remover}`)
        .remove();
      let aux;

      adress.forEach((endereco, obj_index) => {
        if (endereco.index == index_para_remover) {
          aux = obj_index;
          return false;
        }
      });

      adress.splice(aux, 1);
    }

    async function buscaCEP() {
      const cepInput = document.getElementById(`cep_${index}`).value.trim();

      if (cepInput.replace("-", "").length != 8) {
        return;
      }

      document.getElementById(`adress_${index}`).classList.add("d-none");
      document.getElementById(`loading`).classList.remove("d-none");
      let error = false;

      const cepData = await axios
        .post(`cliente/buscaCEP`, {
          cep: cepInput,
        })
        .then((res) => {
          return res.data;
        })
        .catch((err) => {
          console.log(err.response);
          error = true;
          alert("Verifique o CEP digitado!");
        })
        .finally((res) => {
          document.getElementById(`adress_${index}`).classList.remove("d-none");
          document.getElementById(`loading`).classList.add("d-none");
        });

      if (error) return;

      const rua = document.getElementById(`rua_${index}`);
      const numero = document.getElementById(`numero_${index}`);
      const complemento = document.getElementById(`complemento_${index}`);
      const bairro = document.getElementById(`bairro_${index}`);
      const cidade = document.getElementById(`cidade_${index}`);
      const estado = document.getElementById(`estado_${index}`);

      rua.value = cepData.logradouro;
      bairro.value = cepData.bairro;
      complemento.value = cepData.complemento;
      cidade.value = cepData.localidade;
      estado.value = cepData.uf;

      if (rua.value) {
        rua.disabled = true;
      }

      if (bairro.value) {
        bairro.disabled = true;
      }

      if (cidade.value) {
        cidade.disabled = true;
      }

      if (estado.value) {
        estado.disabled = true;
      }

      numero.focus();
    }

    function tabCpfIsActive() {
      const a_cpf = document.getElementById("tab_cpf");
      return a_cpf.classList.contains("active");
    }

    function resetAdressForm() {
      document.getElementById("div_enderecos").innerHTML = "";
      document.getElementById("div_enderecosPJ").innerHTML = "";
      document.getElementById("enderecos_salvos_cpf").innerHTML = "";
      document.getElementById("enderecos_salvos_cnpj").innerHTML = "";
      adress = [];
      index = 0;

      // ----------------------------------------------------- Remover dados cliente pf quando trocar de aba
      let pessoa = "cpf";

      if (!tabCpfIsActive()) {
        pessoa = "cnpj";
      }

      const cpf = (document.getElementsByName("cpf")[0].value = "");
      const nome = (document.getElementsByName("nome")[0].value = "");
      const cnpj = (document.getElementsByName("cnpj")[0].value = "");
      const nomeFantasia = (document.getElementsByName(
        "nomeFantasia"
      )[0].value = "");
      const razaoSocial = (document.getElementsByName("razaoSocial")[0].value =
        "");
      const telefone = (document.getElementsByName(
        `telefone_${pessoa}`
      )[0].value = "");
      const email = (document.getElementsByName(`email_${pessoa}`)[0].value =
        "");

      console.log(document.getElementsByName(`email_${pessoa}`)[0].value);
    }

    async function cadastrar() {
      this.event.preventDefault(); // -------------------------------------------- prevent default comentado
      let pessoa = "cpf";

      if (!tabCpfIsActive()) {
        pessoa = "cnpj";
      }

      const cpf = document.getElementsByName("cpf")[0].value;
      const nome = document.getElementsByName("nome")[0].value;
      const cnpj = document.getElementsByName("cnpj")[0].value;
      const nomeFantasia = document.getElementsByName("nomeFantasia")[0].value;
      const razaoSocial = document.getElementsByName("razaoSocial")[0].value;
      const telefone = document.getElementsByName(`telefone_${pessoa}`)[0]
        .value;
      const email = document.getElementsByName(`email_${pessoa}`)[0].value;

      const cliente = {
        cpf: cpf,
        nome: nome,
        cnpj: cnpj,
        nomeFantasia: nomeFantasia,
        razaoSocial: razaoSocial,
        telefone: telefone,
        email: email,
      };

      adress.forEach((endereco) => {
        delete endereco.index;
      });

      await axios
        .post("/cliente/register", {
          cliente: cliente,
          enderecos: adress,
        })
        .then((res) => {
          console.log(res);
          window.location.href = res.data.route;
        })
        .catch((err) => {
          location.reload();
        });
    }
  </script>

  <%- include('../includes/footer')%>
</div>
