<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <% if(user) { %>

    <button
      class="btn btn-outline-secondary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% } else { %>
    <a class="navbar-brand" href="/"></a>
    <% } %>

    <div class="navbar justify-content-end">
      <ul class="navbar-nav ml-auto">
        <% if(user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login/logout">Sair</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Entrar</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
